.history-wrapper {
  display: flex;
  flex-direction: column;
  align-self: self-start;
  padding: 0 1rem 1rem;
  border-radius: 8px;
  height: 28rem;
  min-width: 13rem;

  position: fixed;
  transform: translateX(100%);
  opacity: 0;

  background-color: black;

  z-index: 10;
  transition: all 1s;
}

.history-wrapper[class*="open"] {
  transform: translateX(0);
  opacity: 1;

  transition: transform 1s
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.title::after {
  content: "";
  height: 5px;
  width: 32px;
  display: block;
  border-radius: 99999px;
  margin: 0 auto;

  background-color: var(--dark-green-baggagio);
  color: var(--dark-green-baggagio);
}

.history-content {
  flex: 1;
  padding-right: 0.5rem;
  overflow-y: auto;
  width: 100%;
}

.history-item {
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 4px;
  text-align: end;
  transition: all 0.25s;
}

.history-item:hover {
  background-color: var(--dark-gray);
}


.action-section {
  align-self: flex-end;
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: space-between;

}


.action-section .action-button {
  margin-top: 0.5rem;
  background-color: transparent;
  padding: 0.25rem;
  min-width: 2.5rem;
  border-radius: 6px;
}


@media screen and (min-width: 425px) {
  .history-wrapper {
    width: 15rem;
  }
}

@media screen and (min-width: 635px) {
  .history-wrapper {
    height: 28rem;
    padding: 1rem;
    width: 15%;
    min-width: 10rem;

    transform: translateX(0);
    opacity: 1;
  }

  #root {
    padding: 2rem;

  }

  .history-wrapper {
    position: static;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  button {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }

  .action-section {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {

  #root {
    font-size: 20px;
  }
}